.vscode
/venv
/pdf
# Sphinx documentation
docs/_build/
docs/build
# Unit test / coverage reports
htmlcov/
.tox/
AutoDocs-0.1.0/
# Distribution / packaging
.Python
.coverage
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
.vscode/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST